{% extends 'store/base.html' %}

{% block title %}Agregar Producto - {{ block.super }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/add_product.css' %}">
{% endblock %}

{% block content %}
<div class="add-product-container">
  <h2>Añadir nuevo producto</h2>

  {% if must_login %}
    <div class="alert alert-warning text-center custom-login-alert" role="alert">
      <strong>¡Atención!</strong> Debes <a href="{% url 'login' %}" class="alert-link">iniciar sesión</a> para añadir productos.
    </div>
  {% else %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Añadir</button>
    </form>
  {% endif %}
</div>
{% endblock %}