<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Taller Rayo Makween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/navbar-admin.css' %}">
      <link rel="stylesheet" href="{% static 'css/admin-taller.css' %}">
  </head>

  <body>
  {# insertamos el navbar #}
  {% include "navbar-admin.html" %}

    <main>

        <div class="container">
            <p>¿Esta seguro que quiere eliminar la siguiente cuenta?</p>

            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Especialidad</th>
                </tr>

                <tr>
                	<td>{{ mecanico.nombre }}</td>
                    <td>{{ mecanico.user.username }}</td>
                    <td>{{ mecanico.especialidad.nombre_especialidad }}</td>
                </tr>
            </table>
        </div>
        <div class="container">
            <form method="POST" action="{% url "admin-taller-borrarcuenta" mecanico.rut %}">
                {% csrf_token %}
                <a href="{% url "admin-taller" %}">
                    <button type="button" class="btn btn-primary">Volver</button>
                </a>

                <button type="submit" class="btn btn-danger">CONFIRMAR</button>
            </form>
        </div>



    </main>

    <!-- los script los cargamos al final -->
    <script src="{% static "bootstrap-5.3.3/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "jquery-3.2.1/jquery-3.2.1.min.js" %}"></script>
  </body>
</html>
