<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Taller Rayo Makween</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
      <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/navbar-admin.css' %}">
      <link rel="stylesheet" href="{% static 'css/admin-taller.css' %}">
  </head>

  <body>
  {# insertamos el navbar #}
  {% include "navbar-admin.html" %}

    <main>

        <!-- crear Mecanicos -->
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <h2>Datos Cuenta Web</h2>
                    {{ user_form.as_table }}
                </div>

                <div class="row">
                    <h2>Datos del Usuario</h2>
                    {{ mecanico_form.as_table }}
                </div>

            <input type="submit" name="crear-mecanico">
        </form>
        </div>

        <!-- datos Trabajos pendientes -->



    </main>

    <!-- los script los cargamos al final -->
    <script src="{% static "bootstrap-5.3.3/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "jquery-3.2.1/jquery-3.2.1.min.js" %}"></script>
  </body>
</html>
