<!-- Sticky navbar -->
{% load static %}

  <nav class="navbar navbar-expand-md sticky-top">
    <div class="container-fluid justify-content-between">
      <!-- left elements -->
      <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo-header" src="{% static 'img/logos empresa/logo-auto-negro.svg' %}" width="30" height="30"
             alt="logo empresa" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link
                {% if request.get_full_path == "/" %}
                    pagina-activa
                {% endif %}"
               href="{% url 'index' %}">Pagina Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link 
                    {% if request.get_full_path == "/trabajos" %}
                    pagina-activa
                    {% endif %}" 
               href="{% url 'trabajos' %}">Nuestros Trabajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link 
                    {% if request.get_full_path == "/productos" %}
                    pagina-activa
                    {% endif %}" 
               href="{% url 'productos' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link
                {% if request.get_full_path == "/nosotros" %}
                    pagina-activa
                {% endif %}"
                href="{% url 'nosotros' %}">Nosotros</a>
          </li>
        </ul>
      </div>
      <!-- right elements -->
      <div class="d-flex ms-auto r-elements">

        <!-- usuario -->
          {% if user.groups.all.0.name == "superuser"%}
                <a class="nav-link mx-2" href="{% url 'admin:index' %}">
                    <p>Bienvenido Superusuario!</p>
                    <img src="{% static 'img/logo-superuser.svg' %}" alt="">
                </a>
          {% elif user.groups.all.0.name == "administrador_taller"%}
                <a class="nav-link mx-2" href="{% url 'admin-taller' %}">
                    <p>Hola {{request.user}} (admin taller) !</p>
                    <img src="{% static 'img/logo-admin-taller.svg' %}" alt="">
                </a>
          {% elif user.groups.all.0.name == "cliente"%}
                <a class="nav-link mx-2" href="{% url 'user_logout' %}">
                    <p>Hola {{request.user}} (cliente) !</p>
                    <img src="{% static 'img/logo-usuario.svg' %}" alt="">
                </a>
          {% elif user.groups.all.0.name == "mecanico"%}
                <a class="nav-link mx-2" href="{% url 'admin-mecanico' %}">
                    <p>Hola {{request.user}} (mecanico)!</p>
                    <img src="{% static 'img/logo-mecanico.svg' %}" alt="">
                </a>
          {% else %}
              <a class="nav-link mx-2" href="{% url 'login' %}">
                    <p>Iniciar Sesion</p>
                    <img src="{% static 'img/logo-usuario.svg' %}" alt="">
              </a>
          {% endif %}
        <!-- carrito compra -->
        <a class="nav-link mx-2" href="#" data-bs-toggle="popover" data-bs-title="Carrito"
          data-bs-content="Por implementar! Aca iria la informacion del carrito y un boton para confirmar compra">
          <img src="{% static 'img/logo-shopping-cart.svg' %}" alt="">
          <div id="contadorCarrito">1</div>
        </a>
      </div>
    </div>
  </nav>