<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Taller Rayo Makween</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>

<body>
  <!-- Sticky navbar -->
  {% include 'navbar.html' %}

  <main>
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center g-2">
        <div class="col">
          <h1>Nuestros Productos</h1>
        </div>
      </div>
    </div>
    <div class="producto-card">
      <div class="container-fluid">
        <div class="row justify-content-center align-items-center g-2 d-flex flex-wrap">

          <!-- producto 1 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card card-producto p-3" style="width: 18rem;">
              <img src=https://www.mibuy.cl/cdn/shop/products/open-uri20220228-4027-ttn88x_fbae9acd-1b6f-448e-9fe3-19d5834a3a7f_800x.jpg?v=1659975761 class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Castrol GTX</h5>
                <p class="card-text">Aceite de motor semisintético de alta calidad</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 2 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaScGI7xcZoDc7X2rWVYsVDpTNt5IMOmEKBQ&s class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Bosch</h5>
                <p class="card-text">Filtro de aceite de larga duración</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 3 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRx-2nVQ5LlqHP-ULBdQ6qAdAi9SD0sFVOFDA&s class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Mann-Filter</h5>
                <p class="card-text">Filtro de aire de alto rendimiento</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 4 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqUa4dFUHt0VhZPmKRdXIbgpbB_bPov5fqIA&s class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">NGK</h5>
                <p class="card-text">Bujía de encendido de platino</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 5 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://www.magnumperformance.es/wp-content/uploads/2020/04/Brembo_GTR_02.jpg class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Brembo</h5>
                <p class="card-text">Juego de frenos delanteros</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 6 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNa-DXQZ_zmmTXziS1BL0izUw12_8JjNAiHOCXrlWIuw&s class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Michelin</h5>
                <p class="card-text">Neumáticos de verano de alto rendimiento</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 7 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://www.lubricentrojm.cl/wp-content/uploads/2017/09/Prestone-concentrado-copia.png class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Prestone</h5>
                <p class="card-text">Líquido refrigerante de larga duración</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>

          <!-- producto 8 -->
          <div class="col-6 col-md-4 p-1">
            <div class="card  p-3" style="width: 18rem;">
              <img src=https://ae01.alicdn.com/kf/Sc19d4d7457824ed3a7f36a9fc183dfebf/Correa-ORIGINAL-para-CF-ATV-UTV-MOTO-450-500-520-550-600-n-mero-de-pieza.jpg_.webp class="card-img-top" alt="">
              <hr>
              <div class="card-body">
                <h5 class="card-title">Gates</h5>
                <p class="card-text">Correa de transmisión de alta resistencia</p>
                <button type="button" class="btn btn-primary btn-agregar-producto">Agregar</button>
              </div>
            </div>
          </div>



        </div>
      </div>

    </div>

    </div>


  </main>
  
  {% include 'footer.html' %}
  



  <!-- los script los cargamos al final -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="../scripts/jquery-3.2.1.min.js"></script>
    <!-- nav collapse al apretar en la pagina -->
    <script src="../scripts/navCollapse.js"></script>
    <!-- contador del carrito -->
    <script src="../scripts/contadorCarrito.js"></script>
</body>

</html>